.form-horizontal select , input[type="text"]{
	height:30px;
	padding:0 5px !important;
}

.form-horizontal{
	padding-top:10px;
}
.deline{
	border-bottom:1px dashed #438EB9;
	margin-bottom:10px;
}

.btn{
	height:30px;
	border-radius: 0;
	margin-left:10px;
	padding:4px 12px;
}

/* button按钮*/
.btn-reset{
	background-color:#A0A0A0;
	color:#fff;
}
.btn-reset:hover{
	color:#fff;
	opacity: 0.8;
}

.row{
	margin-bottom:10px;
}

.bus-check{
	display: inline-block;
	height:40px;
	margin:0 14px 0 1px;
	padding-top:5px;
}

input[type="radio"], input[type="checkbox"]{
	margin: 0 5px 0 0 !important;
    vertical-align: middle;
}
.bus-check label{
	margin: 0 5px !important;
    vertical-align: middle;
}

a.more{
	cursor: pointer;
	margin-left:5px;
}

a:hover{
	color:#000000;
}
